#first{
    background-color: green;
}
#second{
    background-color: blue;
}
#third{
    background-color: aquamarine;
}
#forth{
    background-color: brown;
}
#fith{
    background-color: darkmagenta;
}
th{
    background-color: darkslategray;
    color: white;
}