<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Style.css">
    <title>make</title>
    <style>
        dl {
          display: inline-block;
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left: 0;
          margin-right: 0;
        }
        </style>
</head>
<body>

<dl>
    <td>JEE</td>
    <dd>Java is a Programing</dd>

    <td>HTML</td>
    <dd>it is used for web page design </dd>
</dl>

</body>
</html>